{% extends 'base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}
<br><br>
    {% for  new in news %}
        <section class="articles">
            <article>
                <h2><a href=" {{ path('show', {id:new.id}) }}">{{ new.name }}</a></h2>
                
                
                <div class="content">
                <div class="category"><i><u>Catégorie :</u> {{ new.category }}</i></div><br>
                    {{ new.description|slice(0,400)~'...' }}
                </div><br>
                <a href="{{new.url}}" target="_blank" style="text-decoration:none;color:white;"><img src="https://i.imgur.com/289kxcU.png" style="float:right"></a>
                <br><br>
                <hr>
            </article>
        </section>
    {% endfor %}

{% endblock %}
